<!-- Delete Product -->
<section class="mb-10 bg-white rounded-xl shadow p-6">
    <h3 class="text-xl font-semibold mb-4">Delete Product</h3>
    <p class="text-sm mb-2 text-gray-500">DELETE http://localhost:80/api/product</p>
    <form id="deleteProductForm" class="space-y-4">
        <input type="text" name="name" placeholder="Product Name" class="w-full px-4 py-2 border rounded-md" required />
        <button type="submit" class="w-full bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700">Delete
            Product</button>
    </form>
</section>