<!-- views/cart.ejs -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#3B82F6',
                        secondary: '#10B981'
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-slate-800 min-h-screen">
    <%- include('../main/nav') %>


        <main class="w-[90vw] max-w-7xl mx-auto px-4 py-4 space-y-4">
            <div class="text-gray-400 text-sm mb-6">
                Visualización del flujo de estados de una orden, con datos enviados y recibidos en cada paso.
            </div>


            <div class="flex flex-wrap gap-4 justify-start">
                <div class="flex flex-row gap-2 w-full bg-white p-4 rounded shadow">

                    1 - Order - Created

                    2 - Payment - pending
                        Order - payment_pending

                    3 - Payment - in_process
                        Order - payment_processing

                    4 - Payment - approved
                        Order - paid

                    if - Payment - rejected
                        Order - payment_failed

                    5 - Order - shipped

                    6 - Order - delivered


                </div>


            </div>

        </main>
</body>

</html>